@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F1F4FB;
}

/* Navigation Bar */
header .navbar .navbar-brand {
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    color: #2E37A4;
}

header .navbar .navbar-brand:hover {
    color: #2E37A4;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    align-items: center;
    margin: 0px 20px;
}

.navbar .btn-contact {
    background-color: #2E37A4;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 6px 23px;
    margin-left: 20px;
}

.navbar .btn-contact:hover {
    background-color: #FE721C;
    color: #fff;
}

/* Hero Section */
#about {
    margin: 80px 0px;
}

#about h3 {
    color: #000;
    font-size: 24px;
    line-height: 36px;
}

#about h2 {
    font-weight: 600;
    font-size: 58px;
    line-height: 87px;
    color: #000000;
    margin: 5px 0px;
    text-transform: capitalize;
}

#about h2 span {
    color: #FE721C;
}

#about .lead-hero {
    margin: 10px 0px;
    text-align: justify;
    justify-content: center;
}

#about .img-hero {
    width: 100%;
    justify-content: flex-end;
}

#about .soc-med {
    align-items: center;
}

#about .btn-cvdownload {
    background-color: #2E37A4;
    color: #ffff;
    border-radius: 20px;
    width: 165px;
    height: 41px;
    margin-right: 20px;
    background: #2E37A4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#about .btn-cvdownload:hover {
    background-color: #FE721C;
    transition: all ease-in 0.3s;
}

#about .btn-soc-med {
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #2E37A4;
    color: #fff;
    font-size: 20px;
    border-radius: 100%;
    padding: 10px;
    background: #2E37A4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#about .btn-soc-med:hover {
    background-color: #FE721C;
    transition: all ease-in 0.3s;
}

/* Section Portfolio */
#portfolio {
    margin: 80px 0px;
}

#portfolio .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
}

#portfolio .lead {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    text-transform: capitalize;
}

#portfolio .lead span {
    color: #FE721C;
    font-weight: 700;
}

#portfolio .card{
    border: none;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
}

#portfolio .card-img-portfolio {
    padding: 20px 30px;
}

#portfolio .card .card-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
    text-transform: capitalize;
}

#portfolio .card .btn-demo {
    background-color: #2E37A4;
    color: #fff;
    border-radius: 20px;
    width: 116px;
    height: 40px;
    align-content: center;
    margin-top: 10px;
}

#portfolio .card .btn-demo:hover {
    background-color: #FE721C;
    transition: all ease-in 0.3s;
}

/* Section Interest */
#interest {
    margin: 80px 0px;
}

#interest .card {
    border-radius: 20px;
    border: none;
    padding: 40px 40px;
    background-color: #fff;
}

#interest .title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-transform: capitalize;
}

#interest .title span {
    color: #FE721C;
}

#interest .btn-hire {
    color: #fff;
    background-color: #2E37A4;
    align-items: center;
    border: none;
    padding: 15px 30px;
    text-align: center;
    border-radius: 20px;
}

#interest .btn-hire:hover {
    background-color: #FE721C;
    transition: all ease-in 0.3s;
}

#interest .btn-hire i {
    margin-right: 20px;
}

/* Section Hire */
#hire {
    margin: 80px 0px;
}

#hire .title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 72px;
    color: #000000;
    margin-bottom: 40px;
}

#hire .title-item {
    text-align: center;
    color: #FE721C;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    margin: 20px 0px;
}

#hire .lead-item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

/* Section Skill */
#skills {
    margin: 80px 0px;
}

#skills .title-skills {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

#skills .title-skills span {
    color: #FE721C;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
}

#skills .lead-skills {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

#skills .img-skills {
    margin-top: 40px;
    /* width: 90%; */
    justify-content: center;
}

/* Footer  */
footer {
    background-color: #2E37A4;
    padding: 60px 0px;
    color: #fff;
}

footer .lead-footer {
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}

footer .lead-footer a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

footer .btn-soc-med {
    color: #ffff;
    font-size: 30px;
    margin-right: 40px;
    margin-top: 20px;
}